{{> header }}

{{> navbar }}

<main class="page">
    <section class="clean-block payment-form">
        <div class="container">
            <div class="block-heading">
                    <h2 class="text-info">Pago</h2>
                </div>
                <form>
                    <div class="products">
                        <h3 class="title">Checkout</h3>
                        <div class="item"><span class="price">$200</span>
                            <p class="item-name">Product 1</p>
                            <p class="item-description">Lorem ipsum dolor</p>
                        </div>
                        <div class="item"><span class="price">$120</span>
                            <p class="item-name">Product 2</p>
                            <p class="item-description">Lorem ipsum dolor</p>
                        </div>
                        <div class="total"><span>Total</span><span class="price">$320</span></div>
                    </div>
                    <div class="card-details">
                        <h3 class="title">Método de pago</h3>
                        <div class="form-row">
                            <div class="col-xl-4 col-sm-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img src="assets/img/Oxxo_Logo.svg" width="100%">
                                        <p class="card-text">Actualmente, solo se dispone de este método de pago</p>
                                    </div>
                                </div>
                            </div>
                            {{!-- <div class="col-sm-7">
                                <div class="form-group"><label for="card-holder">Card Holder</label><input class="form-control" type="text" placeholder="Card Holder"></div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group"><label>Expiration date</label>
                                    <div class="input-group expiration-date"><input class="form-control" type="text" placeholder="MM"><input class="form-control" type="text" placeholder="YY"></div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group"><label for="card-number">Card Number</label><input class="form-control" type="text" placeholder="Card Number" id="card-number"></div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group"><label for="cvc">CVC</label><input class="form-control" type="text" placeholder="CVC" id="cvc"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Pagar</button></div>
                            </div> --}}
                        </div>
                    </div>
                </form>
        </div>
    </section>
</main>

{{> footer }}